
@font-face {
    font-family: Baloo Tammudu;
    src: url('../../../../font/Baloo.ttf');
}

/* Title app page */

#titlePane_style{
    -fx-background-color: #483d8b;
    -fx-background-image: url("../../../../img/lightning.png");
}

#appTitle_style{
    -fx-font-size: 40px;
    -fx-fill: white;
    -fx-font-family: 'Baloo Tammudu';
    -fx-effect: dropshadow( three-pass-box , rgba(0,255,255,0.5) , 5, 0.7 , 0 , 2);
}

#appSubtitle_style{
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-font-family: 'Baloo Tammudu';
}

.textField_style{
    -fx-effect: dropshadow( three-pass-box , rgba(0,255,255,0.5) , 10, 0.7 , 0 , 1);
    -fx-background-color: #ffffff;
    -fx-font-size: 16px;
}

.textField_style:focused{
    -fx-effect: dropshadow( three-pass-box , rgba(0,255,255,0.5) , 10, 0.7 , 0 , 1);
}

.textFieldHighlighted_style{
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,0,0.5) , 10, 0.7 , 0 , 0);
    -fx-background-color: #ffff00;
}


.button_style{

    -fx-background-color: linear-gradient(#483d8b, #415b93);
    -fx-background-radius: 3;
    -fx-padding: 0px 10px 0px 10px;
    -fx-font-family: 'Baloo Tammudu';
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,255,255,0.5) , 5, 0.7 , 0 , 2);
}

.button_style:hover{
    -fx-cursor: "hand";
    -fx-background-color: linear-gradient(#6556c4, #6892ed);
}
}

.button_style:pressed{
    -fx-cursor: "hand";
    -fx-effect: dropshadow( three-pass-box , rgba(0,255,255,0.5) , 2, 0.7 , 0 , 1);
}

.titleNode_style{
    -fx-alignment: center;
}

#titleNodeTop_style{
    -fx-padding: 30px 0px 0px 30px;
}

#titleNodeCenter_style{
    -fx-padding: 0px 300px 0px 300px;
    -fx-spacing: 10px;
}

#titleNodeBottom_style{
    -fx-min-height: 160px;
}

.errorMessage_style{
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-font-family: 'Baloo Tammudu';
    -fx-padding: 20px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;

    -fx-background-radius: 2;
}

#errorMessage_info {
     -fx-text-fill: white;
     -fx-background-color: rgba(206, 206, 206, 0.4);
}

#errorMessage_error {
    -fx-text-fill: red;
    -fx-background-color: rgba(206, 206, 206, 0.6);
}

/*   Main app page */

#mainPane_style{
    -fx-background-color: #483d8b;
}


.mainPane_style{
    -fx-padding: 20px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
    -fx-background-color: rgba(206, 206, 206, 0.4);
    -fx-background-radius: 3;
    -fx-fill: white;
    -fx-font-family: 'Baloo Tammudu';
    -fx-min-width: 300px;
}


#leftPaneCity_style{
    -fx-font-size: 24px;
    -fx-padding: 0px 0px 0px 5px;
    -fx-text-fill: #a800b7;
}

#rightPaneCity_style{
    -fx-font-size: 24px;
    -fx-padding: 0px 0px 0px 5px;
    -fx-text-fill: #00ff11;
}

.sidePaneDescription_style{
    -fx-font-size: 14px;
    -fx-padding: 0px 0px 0px 5px;
    -fx-fill: white;
}

.sidePaneData_style{
    -fx-font-size: 16px;
    -fx-fill: white;
}

.centerPaneTips_style{
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-text-fill: white;
}

/* accordion and chart formatting */
.titled-pane .title {
    -fx-alignment: center-left;
    -fx-font-family: 'Baloo Tammudu';
    -fx-cursor: "hand";
    -fx-focus-color: #555555;
    -fx-font-size: 8pt;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#483d8b, #c6f9ff );
}

.titled-pane:expanded {
    -fx-text-fill: white;
}

.titled-pane:expanded > .title {
    -fx-base: #555555;
    -fx-text-fill: white;
}

.titled-pane:hover > .title {
    -fx-base: #555555;
}

.titled-pane:hover {
    -fx-text-fill: white;
}

.titled-pane .arrow {
    -fx-opacity: 1;
}


.chart {
    -fx-padding: 0px 30px 0px 30px;
    -fx-background-image: url("../../../../img/pattern.png");
}

.chart-title {
  -fx-text-fill: #483d8b;
  -fx-font-size: 24px;
  -fx-font-family: 'Baloo Tammudu';
}

.axis-label {
  -fx-text-fill: #483d8b;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: #00c7ff;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #00c7ff;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-font-size: 20px;
    -fx-tick-label-fill: #483d8b;
    -fx-font-family: 'Baloo Tammudu';
}

.axis-tick-mark {
    -fx-stroke: #483d8b;
    -fx-stroke-width: 1.5;
}
.axis-minor-tick-mark {
    -fx-stroke: #483d8b;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-area-symbol { -fx-background-color: #a800b7, #f7a0ff;
                                    -fx-padding: 5px 5px 5px 5px;
                                    -fx-cursor: "hand";
                                  }
.default-color1.chart-area-symbol { -fx-background-color: #00ff11, #91ff98;
                                    -fx-padding: 5px 5px 5px 5px;
                                    -fx-cursor: "hand";
                                  }

.default-color0.chart-series-area-line { -fx-stroke: #a800b7; }
.default-color1.chart-series-area-line { -fx-stroke: #00ff11; }

.default-color0.chart-series-area-fill { -fx-fill: #a800b7aa; }
.default-color1.chart-series-area-fill { -fx-fill: #00ff1177; }

.default-color0.chart-line-symbol { -fx-background-color: #a800b7, white; }
.default-color1.chart-line-symbol { -fx-background-color: #00ff11, white; }
